*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.project img {
    height: 180px;
    width: 25vw;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
}

.project {
    display: flex;
    width: 25vw;
    flex-direction: column;
    align-items: center;
    text-align: center;

    /* From https://css.glass */
    background: rgba(103, 88, 88, 0.073);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    /* backdrop-filter: blur(12.1px); */
    /* -webkit-backdrop-filter: blur(12.1px); */
    border: 2px solid rgba(80, 37, 37, 0.35);
    padding: 20px;

}

.project-container {
    display: flex;
    min-height: 100vh;
    justify-content: space-around;
    align-items: center;
    background-image: url(./bc.jpg);
    background-position: center;
    background-size: cover;
}

a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

@media screen and (max-width: 1024px) {
    .project-container{
        display: flex;
        flex-direction: column;
        justify-content: start;
        
    }
    .project {
        width: 60vw;
        margin: 20px;
    }

    .project img {
        width: 40vw;
    }
}
